<div class="container-fluid">
  <!-- Header. -->
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h1 class="page-header">Dashboard</h1>
    </div>
  </div>
  <!-- Widgets. -->
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4">
      <championships-widget></championships-widget>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <!--<groups-widget></groups-widget>-->
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <!--<matches-widget></matches-widget>-->
    </div>
  </div>
</div>
