{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl" ng-app="csa">
<head>
    <title>Championships Management</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Libraries styles. -->
    <link href="{% static 'bower_components/bootswatch/paper/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/fontawesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/angular/angular-csp.css' %}" rel="stylesheet">

    <!-- Custom styles. -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Przełącz nawigację</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/">
                <i class="fa fa-home"></i>
                Championship Management
            </a>
        </div>
    </div>
</nav>

<!-- Page content is loaded here via ng-view directive. -->
<div class="container" ng-view></div>

<!-- Bower libraries. -->
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- AngularJS libraries. -->
<script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
<script src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>
<script src="{% static 'bower_components/angular-q-spread/dist/q-spread.min.js' %}"></script>

<!-- Championship Management libraries. -->
<script src="{% static 'scripts/app.js' %}"></script>
<script src="{% static 'scripts/settings.js' %}"></script>
<script src="{% static 'scripts/utilities.js' %}"></script>

<!-- Controllers. -->
<script src="{% static 'scripts/controllers/championships.js' %}"></script>

<!-- Services. -->
<script src="{% static 'scripts/services/championships.js' %}"></script>

</body>
</html>
