<div class="container">
    <div class="row">
        <form ng-submit="login()" ng-controller="AuthCtrl" ng-hide="getCurrentUser()">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">

                    <!-- Title. -->
                    <div class="panel-heading">
                        <h3 class="panel-title">Please log in</h3>
                    </div>
                    <div class="panel-body">
                        <fieldset>

                            <!-- Username. -->
                            <div class="form-group">
                                <input class="form-control" ng-model="username" type="text" name="username"
                                       placeholder="Username" required/>
                            </div>

                            <!-- Password. -->
                            <div class="form-group">
                                <input class="form-control" ng-model="password" type="password" name="password"
                                       placeholder="Password" required/>
                            </div>

                            <!-- Remember. -->
                            <div class="checkbox">
                                <label>
                                    <input ng-model="remember" name="remember" type="checkbox" value="Remember Me">
                                    Remember Me
                                </label>
                            </div>

                            <!-- Submit. -->
                            <button type="submit" class="btn btn-lg btn-success btn-block" id="submit">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                                Login
                            </button>
                        </fieldset>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
