<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
      {{ diagnostic }}
      <form (submit)="onSubmit()" role="form">
        <div class="card">
          <!-- Title. -->
          <div class="card-header">
            Please log in
          </div>
          <div class="card-block">
            <fieldset>
              <!-- Username. -->
              <div class="form-group has-danger" [ngClass]="{'has-danger': errors.message && errors.message.username}">
                <label for="username" class="sr-only">Username</label>
                <input [(ngModel)]="username" id="username" class="form-control" type="text"
                       [ngClass]="{'form-control-danger': errors.message && errors.message.username}" name="username"
                       placeholder="Username" required>
                <!-- Error. -->
                <div class="form-control-feedback" *ngIf="errors.message && errors.message.username">
                  {{errors.message.username}}
                </div>
              </div>
              <!-- Password. -->
              <div class="form-group" [ngClass]="{'has-danger': errors.message && errors.message.password}">
                <label for="password" class="sr-only">Password</label>
                <input [(ngModel)]="password" id="password" class="form-control"
                       [ngClass]="{'form-control-danger': errors.message && errors.message.password}" type="password"
                       name="password"
                       placeholder="Password"
                       required>
                <!-- Error. -->
                <div class="form-control-feedback" *ngIf="errors.message && errors.message.password">
                  {{errors.message.password}}
                </div>
              </div>
              <!-- Remember. -->
              <!--<div class="checkbox">-->
              <!--<label>-->
              <!--<input [(ngModel)]="remember" id="remember" type="checkbox" name="remember" value="Remember Me">-->
              <!--Remember Me-->
              <!--</label>-->
              <!--</div>-->
              <!-- Submit. -->
              <button id="submit" class="btn btn-success btn-block" type="submit">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                <b class="caret"></b>
                Login
              </button>
            </fieldset>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
