<!-- Title. -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">New championships</h1>
    </div>
</div>
<!--/ Title. -->

<div class="row">
    <div class="col-lg-12">

        <!-- New championships form. -->
        <form>

            <!-- Name. -->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" ng-model="request.name">
            </div>
            <!--/ Name. -->

            <!-- Groups. -->
            <div class="form-group">
                <label for="groups">Groups</label>
                <select class="form-control" id="groups" ng-model="request.groups"
                        ng-options="group for group in groups">
                </select>
            </div>
            <!--/ Groups. -->

            <!-- Player teams per group. -->
            <div class="form-group">
                <label for="playerTeamsPerGroup">Player teams per group</label>
                <select class="form-control" id="playerTeamsPerGroup" ng-model="request.player_teams_per_group"
                        ng-options="team for team in players_teams_per_group">
                </select>
            </div>
            <!--/ Player teams per group. -->

            <!-- Participants. -->
            <div class="form-group">
                <label>Participates</label>
                <select class="form-control" ng-model="request.participates"
                        ng-options="participate.id as getParticipate(participate).team.name + ' (' + getParticipate(participate).user.username + ')' for participate in participates"
                        multiple>
                </select>
            </div>
            <!--/ Participants. -->

            <!-- Home and away. -->
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <div style="font-weight: bold">Game type</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label style="font-weight: normal">
                            <input type="radio" ng-checked="!home_away" ng-model="request.home_away" ng-value="false">
                            Single game only
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label style="font-weight: normal">
                            <input type="radio" ng-checked="home_away" ng-model="request.home_away" ng-value="true">
                            Home and away
                        </label>
                    </div>
                </div>
            </div>
            <!--/ Home and away. -->

            <!-- Buttons. -->
            <div class="form-group pull-right">
                <button class="btn btn-link" ng-click="resetValues()">Reset</button>
                <button type="submit" class="btn btn-primary" ng-click="submitValues()">Generate</button>
            </div>
            <!--/ Buttons. -->

        </form>
        <!--/ New championships form. -->

    </div>
</div>
