<!-- Title. -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Championships - {{ championships.name }}
            <button class="btn btn-primary pull-right disabled">Close</button>
            <button class="btn btn-danger pull-right disabled" style="margin-right: 10px">Delete</button>
            <button class="btn btn-link pull-right" ng-click="reset()">Reset</button>
        </h1>

    </div>
</div>
<!--/ Title. -->

<div class="row">
    <div class="col-lg-12 col-md-12">

        <div class="page-header">
            <h4>Standings</h4>
        </div>

        <uib-tabset>
            <uib-tab index="$index + 1" ng-repeat="group in groups" heading="Group {{group.name}}">

                <!-- Group table. -->
                <table class="table table-hover">

                    <!-- Table header. -->
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Team</th>
                        <th>Player</th>
                        <th>Played</th>
                        <th>Won</th>
                        <th>Drawn</th>
                        <th>Lost</th>
                        <th>Goals scored</th>
                        <th>Goals lost</th>
                        <th>Goals balance</th>
                        <th>Points</th>
                    </tr>
                    </thead>
                    <!--/ Table header. -->

                    <!-- Table body. -->
                    <tbody>

                    <tr ng-repeat="participate in group.participates">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ getById(results, participate).team }}</td>
                        <td>{{ getById(results, participate).player }}</td>
                        <td>{{ getById(results, participate).results.games_played }}</td>
                        <td>{{ getById(results, participate).results.games_won }}</td>
                        <td>{{ getById(results, participate).results.games_drawn }}</td>
                        <td>{{ getById(results, participate).results.games_lost }}</td>
                        <td>{{ getById(results, participate).results.goals_scored }}</td>
                        <td>{{ getById(results, participate).results.goals_lost }}</td>
                        <td>{{ getById(results, participate).results.goals_balance }}</td>
                        <td>{{ getById(results, participate).results.points }}</td>
                    </tr>

                    </tbody>
                    <!--/ Table body. -->

                    <!-- Table footer. -->
                    <tfoot>

                    </tfoot>
                    <!--/ Table footer. -->

                </table>
                <!-- Group table. -->

            </uib-tab>
        </uib-tabset>
        <!--/ Group tabs. -->


        <div class="page-header">
            <h4>Matches</h4>
        </div>

        <!-- Group matches. -->
        <div class="panel panel-default">

            <!-- Matches content. -->
            <div class="panel-body">

                <div class="row" ng-repeat="match in matches">

                    <!-- Host team. -->
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div ng-class="getPanelStyle(match, true)">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-lg-1">
                                        <i class="fa fa-trophy fa-3x"></i>
                                    </div>
                                    <div class="col-lg-9 text-center">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div ng-bind="getById(teams, getById(participates, match.host_team).team).name"
                                                     style="font-size: 32px; color: rgba(0, 0, 0, 0.5)"></div>
                                                <div ng-bind="getById(players, getById(participates, match.host_team).player).username"
                                                     class="small"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 text-right">
                                        <button ng-bind="sanitizeScore(match.host_team_goals)" class="huge btn btn-default" ng-click="showSetScore(match)"
                                             style="color: rgba(0,0,0,0.5); min-width: 70px;"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Host team. -->

                    <!-- Guest team. -->
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div ng-class="getPanelStyle(match, false)">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <div ng-bind="sanitizeScore(match.guest_team_goals)" class="huge btn btn-default" ng-click="showSetScore(match)"
                                             style="color: rgba(0,0,0,0.5); min-width: 70px;"></div>
                                    </div>
                                    <div class="col-lg-9 text-center">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div ng-bind="getById(teams, getById(participates, match.guest_team).team).name"
                                                     style="font-size: 32px; color: rgba(0, 0, 0, 0.5)"></div>
                                                <div ng-bind="getById(players, getById(participates, match.guest_team).player).username"
                                                     class="small"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1" style="padding: 0;">
                                        <i class="fa fa-trophy fa-3x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Guest team. -->

                </div>

            </div>
            <!-- Matches content. -->

        </div>

        <!--/ Group matches. -->


    </div>
</div>
